<!DOCTYPE html>
<nav>
    <ul class="nav-ul">
        <li class="nav-li-0"><a href="/">Home</a></li>
        <li class="nav-li-1"><a href="https://www.google.com/">Google</a></li>
        <li class="nav-li-2"><a href="https://googlemail.com">GMail</a></li>
        <li class="nav-li-3"><a href="https://www.youtube.com/">Youtube</a></li>
    </ul>
</nav>