/* <-------------- Dark Theme ---------------> */
*[data-theme='dark'] {
  /* General Colors */

  --theme: #343a40;
  --contrast: #f8f9fa;
  --page-background: #222223;

  /* Text  and Links*/

  --header-color: crimson;
  --text-color: white;
  --duden-link-color: gray;

  --link-color: white;
  /* NAV Bar */

  --nav-background: #111113;
  --logo-color: red;
  --nav-logo-background: white;
  --nav-link-color: white;
  --nav-link-color-hover: white;

  /* Banner */

  --banner-header-color: white;

  --banner-background: yellowgreen;
  --banner-bar-background: red;
  --banner-bar-border: black;

  /* Lesson Cards */

  --card-background: var(--theme);
  --card-br: red;
  --card-header: red;

  /* Footer */

  --footer-background: #00b600;
}

/* <---------------- Light Theme ---------------> */
*[data-theme='light'] {
  /* General Colors */

  --theme: #d8d9da;
  --contrast: #343a40;
  --page-background: white;

  /* Text  and Links */

  --header-color: red;
  --text-color: black;
  --duden-link-color: gray;

  --link-color: white;
  /* NAV Bar */

  --nav-background: #111113;
  --logo-color: red;
  --nav-logo-background: white;
  --nav-link-color: white;
  --nav-link-color-hover: white;

  /* Banner */

  --banner-header-color: white;

  --banner-background: yellowgreen;
  --banner-bar-background: red;
  --banner-bar-border: black;

  /* Lesson Cards */

  --card-background: var(--theme);
  --card-br: red;
  --card-header: black;

  /* Footer */

  --footer-background: #00b600;
}

/* <------------ Size Variables ---------------> */

* {
  --content-width: 80%;

  --nav-height: 52px;

  --banner-bar-max-Size: 33.3333%;

  --footer-height: 25vh;
}

/* <------------ App ---------------> */

.App {
  text-align: center;
  min-height: 100%;
  font-family: 'Roboto';
}

.Content {
  width: 100%;
  min-height: 95.2vh;
  height: 100%;
  margin: 0;
  overflow: hidden;
  margin-top: var(--nav-height);
}
