.content-wrapper {
  --borderRadius: 5px;
}

.content-wrapper {
  margin: 0;
}

.banner {
  height: calc(100vh - var(--nav-height));
  background: var(--banner-background);
  width: 100vw;
}

.banner-bar {
  width: 100%;
  min-height: var(--nav-height);
  height: min-content;
  margin-bottom: 2em;
  background: var(--banner-bar-background);
}

.banner-bar ul {
  width: 100%;
  height: min-content;
  padding: 0;
  margin: auto;
  text-align: center;
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(12%, min-content));
}

.banner-bar ul li {
  position: relative;
  list-style: none;
  cursor: pointer;
  margin: auto;
  padding: 0 2%;
  text-align: center;
}

.banner-bar ul li p {
  font-size: 1.3em;
}

.banner-bar ul li p:hover {
  -webkit-text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.7);
  -moz-text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.7);
  text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.7);
}

/* Cards */

.lessonCard {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: min-content;
  align-content: center;
  margin: auto;
  width: 75%;
  margin-bottom: 5em;
  padding: 12px;
  padding-left: 2%;
  padding-right: 2%;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  background: var(--card-background);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
  transition: 1s;
  transform: skewX(var(--card-skewX)) skewY(var(--card-skewY));
}

.lessonCard:nth-child(odd) {
  flex-direction: row-reverse;
}

.lessonCard:nth-last-child(1) {
  margin-bottom: 1em;
  padding-bottom: 0;
}

.lessonCard:nth-child(1) {
  margin-top: 1em;
}

.lessonCard:nth-last-child(1)::after {
  display: none;
}

.lessonCard::after {
  position: absolute;
  content: "";
  height: 5px;
  width: 50%;
  left: 25%;
  border-radius: 8px;
  background-color: var(--card-br);
  bottom: -3em;
  transform: skewX(var(--card-content-skewX)) skewY(var(--card-content-skewY));
}

.lessonCard:hover {
  -webkit-box-shadow: 0px 0 40px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0 40px 10px rgba(0, 0, 0, 0.75);
  transition: 1s;
}

/* Video/IMG content div */

.imgcontent {
  width: 35%;
  display: inline-block;
  align-content: center;
  transform: skewX(var(--card-content-skewX)) skewY(var(--card-content-skewY))
    scale(0.95);
}

/* TEXT CONTENT */

.text {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  text-align: start;
  transform: skewX(var(--card-content-skewX)) skewY(var(--card-content-skewY));
}

.text a {
  margin-top: 0.6em;
  text-decoration: none;
  color: var(--card-header);
  font-size: 2em;
  padding-left: 3%;
}

.text p {
  padding-top: 3%;
  text-align: start;
  font-size: 1em;
  padding-left: 3%;
}

/* Video */

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  margin: 5% auto;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.lessonCard img {
  width: 100%;
}

@media (min-width: 1500px) {
  .banner-bar ul {
    grid-template-columns: repeat(auto-fit, minmax(min-content, 12vw));
  }

  .imgcontent {
    width: 45%;
  }
  .text {
    width: 55%;
  }
}

@media (min-width: 1200px) {
  .imgcontent {
    width: 40%;
  }
  .text {
    width: 60%;
  }
}

.banner-bar ul {
  grid-template-columns: repeat(auto-fit, minmax(min-content, 12.5%));
  grid-gap: 0;
  width: 100%;
}
.banner-bar ul li p {
  font-size: 1.2em;
}

@media (max-width: 1000px) {
  .content-wrapper {
    min-height: 100vh;
    margin: auto;
    padding: 0;
  }
  .banner-bar {
    margin: 0;
  }
  .banner-bar ul {
    grid-template-columns: repeat(auto-fit, minmax(25%, min-content));
    grid-gap: 0;
  }

  .banner-bar ul li p {
    font-size: 1em;
  }

  /* CONTENT */

  .lessonCard {
    width: 100%;
    min-height: 40vh;
    height: min-content;
    margin: auto;
    display: block;
    border-radius: 0;
    border: 0;
    transform: skewX(0) skewY(0);
  }

  .lessonCard::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    z-index: 100%;
    bottom: 0;
    left: 0;
    border-radius: 0;
    background-color: var(--card-br);
    transform: skewX(0) skewY(0);
  }

  /* TEXT */

  .text {
    width: 100%;
    height: min-content;
    transform: skewX(0) skewY(0);
  }

  .text a {
    margin-top: 0;
    text-decoration: none;
    text-align: start;
    text-decoration: underline 2px;
    font-size: 1.5em;
  }

  .imgcontent {
    width: 60%;
    transform: skewX(0) skewY(0);
  }

  .player-wrapper {
    margin: auto;
  }
}

@media (max-width: 770px) {
  .banner-bar ul {
    grid-template-columns: repeat(auto-fit, minmax(min-content, 25%));
    grid-gap: 0;
    width: 100%;
  }
  .banner-bar ul li p {
    font-size: 1em;
  }
}

@media (max-width: 650px) {
  /* .banner-bar {
    display: none;
  } */
  .banner-bar ul {
    grid-template-columns: repeat(auto-fit, minmax(min-content, 50%));
    grid-gap: 0;
  }
}

@media (max-width: 550px) {
  .imgcontent {
    width: 100%;
  }
}
