.banner {
  background-image: url('https://images.pexels.com/photos/159751/book-address-book-learning-learn-159751.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1500&w=2320');
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  background-position-y: -100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.banner h1 {
  position: relative;
  text-align: center;
  margin: auto;
  font-size: 3em;
  color: var(--banner-header-color);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.banner-bar {
  position: relative;
  z-index: 100;
  width: 100%;
  min-height: var(--nav-height);
  height: min-content;
  background: var(--banner-bar-background);
  margin-bottom: 2rem;
}

.banner-bar ul {
  width: 100%;
  height: min-content;
  padding: 0;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min-content, var(--banner-bar-max-Size))
  );
}

.banner-bar ul li {
  position: relative;
  list-style: none;
  cursor: pointer;
  margin: auto;
  padding: 0;
  text-align: center;
}

.banner-bar ul li p {
  font-size: 1.3em;
}

.banner-bar ul li p:hover {
  -webkit-text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.7);
  -moz-text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.7);
  text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.7);
}

/* Cards */

.mp-overlay {
  background-image: linear-gradient(
    -2deg,
    transparent 49%,
    var(--page-background) 50%
  );
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.bottom {
  bottom: 0;
  top: initial;
  transform: scale(-1);
}

.lessonCard {
  background: var(--card-background);
  z-index: 10;
  position: relative;
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-size: 1.3rem;
}

.lessonCard:nth-child(odd) {
  flex-direction: row-reverse;
}

.lessonCard:nth-child(even) {
  background: var(--page-background);
}

.lessonCard:nth-child(even) .bottom {
  background-image: linear-gradient(
    -2deg,
    transparent 49%,
    var(--card-background) 50%
  );
}

/* Video/IMG content div */

.imgcontent {
  width: 50%;
  display: inline-block;
}

.imgcontent img {
  padding: 0;
  margin: 0;
}

/* TEXT CONTENT */

.text {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: start;
  z-index: 2;
}

.text a {
  margin-top: 0.6em;
  text-decoration: none;
  color: var(--card-header);
  font-size: 2em;
  padding-left: 3%;
  color: var(--card-header);
}

.text p {
  padding-top: 3%;
  text-align: start;
  font-size: 1em;
  padding-left: 3%;
  color: var(--card-text);
}

/* Video */

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
  margin: 5% auto;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.lessonCard img {
  width: 100%;
}

@media (max-width: 1000px) {
  .banner-bar ul li p {
    font-size: 1em;
  }

  .lessonCard {
    padding: 1rem 0;
  }

  .lessonCard .imgcontent {
    display: none;
  }

  .mp-text-overlay {
    display: none;
  }

  .text {
    width: 100%;
  }
  .player-wrapper {
    margin: auto;
  }
}
