.lesson {
  text-align: start;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  width: 80%;
  min-height: 100%;
  margin-bottom: 1em;
  --delay: 100ms;
}

.lp-img {
  max-width: 25%;
}

.lp-img img {
  width: 100%;
}

.lesson-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: start;
  width: 100%;
}

.lesson-description-text {
  margin-left: 1em;
  width: 54%;
}
.lesson-description-text h1 {
  color: var(--header-color);
}
.lesson-description-text p {
  margin: 0;
  color: var(--text-color);
}

.Link-Wrapper {
  display: grid;
  grid-gap: 0.7rem 0.7rem;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  grid-auto-rows: minmax(50px, 1fr);
  width: 80%;
  margin: 0 auto;
}

.Link-Wrapper div {
  width: 100%;
  height: 100%;
  background: var(--theme);
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Link-Wrapper div a {
  font-size: 1.3em;
  color: var(--text-color);
  text-decoration: none;
  padding: 0.5rem;
}

@media (max-width: 1325px) {
  .lesson {
    text-align: start;
    width: 100%;
    height: 100%;
  }
  .lesson-description {
    width: 100%;
  }
  .lesson-description-text {
    width: 70%;
  }
  .lp-img {
    max-width: 30%;
  }
  .Link-Wrapper {
    margin: 0 auto;
  }
  .Link-Wrapper div a {
    font-size: 1.2em;
  }
}

@media (max-width: 750px) {
  .lesson-description {
    flex-direction: column;
  }
  .lesson-description-text {
    width: 100%;
    margin: auto;
  }
  .lesson-description-text h1 {
    margin-top: 0.5em;
    margin-left: 1rem;
  }
  .lesson-description-text p {
    padding: 0 1rem;
  }
  .lp-img {
    display: none;
  }
  .Link-Wrapper {
    width: 100%;
    margin-bottom: 0.7em;
  }
}
