.lesson {
  text-align: start;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}

.Video-Wrapper {
  width: 35%;
}

.Video-Wrapper img {
  width: 100%;
}

.Link-Wrapper {
  width: 100%;
}

.lesson-description {
  display: flex;
  flex-direction: row;
  /* width: 80%; */
  margin: auto;
}

.lesson-description-text {
  margin-left: 1em;
  width: 100%;
}
.lesson-description-text h1,
.lesson-description-text p {
  margin: 0;
}

.Link-Wrapper {
  max-width: 100%;
  display: grid;
  grid-gap: 0.7em 0.5em;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 50px;
  width: 70%;
  margin: auto;
}

.Link-Wrapper div {
  width: 100%;
  height: 100%;
  background: var(--theme);
  text-align: center;
  display: table;
}

.Link-Wrapper div a {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.3em;
}

@media (max-width: 1100px) {
  .lesson {
    text-align: start;
    width: 100%;
  }
  .lesson-description {
    width: 100%;
  }
  .Video-Wrapper {
    width: 50%;
  }
  .Link-Wrapper {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 50px;
  }
}

@media (max-width: 650px) {
  .lesson-description {
    flex-direction: column;
  }
  .lesson-description-text {
    width: 100%;
    margin: auto;
  }
  .lesson-description-text h1 {
    margin-top: 0.5em;
  }
  .Video-Wrapper {
    width: 95%;
    margin: auto;
  }
  .Link-Wrapper {
    width: 100%;
    margin-bottom: 0.7em;
  }
}
