:root{
    --main-bg-color : white;
        font-family: 'Roboto Condensed','sans-serif';
}

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    background: var(--main-bg-color);
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 62px auto 100px;
    grid-template-areas: 
        "nav nav nav nav nav"
        "content content content content content"
        "footer footer footer footer footer";

}

/* <----------- Navigation Bar ------------> */

nav {
    height: 62px;
    background: black;
    margin: 0;
    position: sticky;
    top: 0;
    font-size: 18px;
    grid-area: nav;
    justify-content: center;
    box-sizing: border-box;
    z-index: 100;
}

nav ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-flow: column;
    place-items: center;
    list-style: none;
    height: 100%;
    margin: 0;
    align-content:center;
}

nav li a{
    color: #eee;
    transition: 0.4s;
    text-decoration: none;
}

nav a:hover{
    color: red;
}

/* Menu */

main {
    grid-area: content;
    padding: 10px;
    text-align: center;
}

.lessonSelector {
    margin: 0 30%;
    min-height: 30vh;
    box-shadow: 12px 11px 30px 0px rgba(0,0,0,0.69);
    border: 1px solid gray;
    border-radius: 2px;
}

.lessonSelector > h2 {
    text-align: center;
    color: black;
}


.lessonSelector div {
    display: grid;
    grid-auto-flow: rows;
    grid-template-rows: repeat(auto-fill,min-conten);
}

.lessonSelector div a {
    transition: .4s;
    place-self: center;
    text-decoration: none;
    margin-bottom: 5px;
    background: black;
    color: white;
    padding: 5px 0;
    font-size: 1.3em;
    width: 50%;
}

.lessonSelector div a:hover {
    background: red;
    width: 75%;
    padding: 10px 0;
    font-size: 1.4em;
    transition: .4s;
}

/* Footer */

footer {
    grid-area: footer;
    background: lightgreen;
    color: black;
}

/* <---------- Media Queries ----------> */

@media screen and (max-width:800px){
    main {
        grid-template-columns:1fr;
    }
    main > div {
        max-height: 1fr;
    }
    .lessonSelector {
        width: 90%;
    }
}