footer {
  height: 20vh;
  width: 100%;
  background: var(--footer-background);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer section {
  width: 25%;
}

#footer-left {
  text-align: left;
  margin: auto 0;
}

#footer-right ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: 80%;
  justify-content: space-around;
  align-content: center;
}

#footer-right ul li {
  text-decoration: none;
  color: var(--link-color);
  text-align: center;
}

@media (max-width: 1200px) {
  footer {
    padding-top: 0.5em;
    min-height: 20vh;
    height: min-content;
    flex-direction: column-reverse;
  }
  footer section {
    width: 100%;
  }
  #footer-left {
    text-align: center;
  }
  #footer-right ul {
    text-align: left;
    padding: 0 7%;
  }
}
