$width: 100%;

#contact {
  width: $width;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  input {
    padding: 0;
    width: $width;
    margin: 0.2em auto;
    height: 3em;
    border: 0;
    font-size: 1em;
  }
  textarea {
    font-family: Roboto;
    font-size: 1em;
    padding: 0;
    border: 0;
    resize: none;
    width: $width;
    height: 10em;
    margin: 0.2em auto;
  }
  button {
    background-color: var(--theme);
    font-family: Roboto;
    color: var(--contrast);
    border: 0;
    padding: 0;
    width: 10em;
    margin: 0 auto;
    height: 3em;
  }
}
