:root {
  $width: 99%;
  $border-radius: 4px;
}

#contact {
  height: 100%;
  width: $width;
  margin: auto;
  display: flex;
  flex-direction: column;
  input {
    padding: 0;
    height: 3em;
    width: $width;
    margin: 0.2em auto;
    font-size: 1em;
    border: 0;
    border-radius: $border-radius;
  }
  textarea {
    height: 10em;
    width: $width;
    font-family: Roboto;
    font-size: 1em;
    margin: 0.2em auto;
    border: 0;
    border-radius: $border-radius;
    resize: none;
  }
  button {
    height: 3em;
    width: 10em;
    margin: 0 auto;
    background-color: var(--theme);
    font-family: Roboto;
    color: var(--contrast);
    border: 0;
    padding: 0;
  }
}
