.App-header {
  position: sticky;
  top: 0;
  transition: 0.5s;
}

.App-header-hidden {
  top: -52px;
  transition: 0.5s;
}

nav {
  height: var(--nav-height);
  margin: 0;
  z-index: 9998;
  display: flex;
  flex-direction: row;
  background: var(--nav-background);
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  text-align: right;
  height: 100%;
  margin: 0;
  place-content: flex-end;
}

nav ul li {
  margin: auto 2% auto 15%;
  font-size: 1.3em;
}

nav ul li a,
nav ul li p {
  text-decoration: none;
  color: var(--nav-link-color);
  margin: auto;
}

nav ul li a:hover,
nav ul li p:hover {
  text-decoration: none;
  cursor: pointer;
  color: var(--nav-link-color-hover);
}

nav ul li i {
  color: red;
  font-size: 1.7em;
  place-self: center;
  color: var(--nav-background);
  background: var(--logo-background);
  padding: 4px;
  border-radius: 5px;
}

nav ul li i:hover {
  background: var(--logo-background-hover);
  transition: 0.3s;
}

#Logo {
  margin: 0;
  z-index: 9999;
}

#Logo p {
  cursor: pointer;
  color: var(--logo-color);
  font-size: 1.7em;
  font-style: bold;
  margin: auto;
}

@media (max-width: 600px) {
  nav ul {
    margin: auto;
    width: 100%;
    padding: 0;
  }
  nav ul li {
    justify-content: end;
    font-size: 1.1em;
  }
  #Logo {
    transform: scaleY(0);
    transition: 0.4s;
    display: none;
  }
}

@media (min-width: 900px) {
  nav ul li {
    margin: auto 10% auto 30%;
  }
}
