#hamburger {
  justify-self: flex-end;
  position: relative;
}

#hamburger .fa-bars {
  position: absolute;
  font-size: 2.5em;
  top: calc(var(--nav-height) / 5);
  right: calc(var(--nav-height) / 4.5);
  cursor: pointer;
  color: var(--contrast);
}

#hamburger #Logo {
  margin: 0;
  margin-left: 5px;
  height: 100%;
  z-index: 9999;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#hamburger .fa-bars:hover {
  color: var(--contrast);
  transition: 0.4s;
}

#hamburger ul {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
  top: var(--nav-height);
  right: 0;
  color: var(--nav-link-color);
  background: var(--nav-background);
  border-radius: 5px;
  width: 9em;
  padding: 0;
}

#hamburger ul li {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
  z-index: 2;
  background: var(--nav-background);
  color: var(--nav-link-color);
  height: 50%;
}

#hamburger ul li:hover {
  background: var(--contrast);
  color: var(--nav-background);
}

#hamburger ul li a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  color: var(--nav-link-color);
}
#hamburger ul li p {
  text-decoration: none;
  width: 100%;
}

#hamburger ul li a:hover {
  color: var(--nav-background);
}

@media (min-width: 800px) {
  #hamburger {
    display: none;
  }
}
