.App-header {
  position: sticky;
  top: 0;
  transition: 0.5s;
}

.App-header-hidden {
  top: -52px;
  transition: 0.5s;
}

nav {
  height: var(--nav-height);
  margin: 0;
  z-index: 9998;
  display: flex;
  flex-direction: row;
  background: var(--nav-background);
}

#desktop {
  justify-content: space-between;
}

#desktop ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  text-align: right;
  height: 100%;
  margin: 0;
  place-content: flex-end;
}

#desktop ul li {
  margin: auto 2% auto 15%;
  font-size: 1.3em;
  cursor: pointer;
}

#desktop ul li a,
#desktop ul li p {
  text-decoration: none;
  color: var(--nav-link-color);
  margin: auto;
}

#desktop ul li a:hover,
#desktop ul li p:hover {
  text-decoration: none;
  cursor: pointer;
  color: var(--nav-link-color-hover);
}

#desktop ul li i {
  color: red;
  font-size: 1.7em;
  place-self: center;
  color: var(--nav-background);
  background: var(--logo-background);
  padding: 4px;
  border-radius: 5px;
}

#desktop ul li i:hover {
  background: var(--logo-background-hover);
  transition: 0.3s;
}

#desktop #Logo {
  margin: 0;
  z-index: 9999;
}

#desktop #Logo p {
  cursor: pointer;
  color: var(--logo-color);
  font-size: 1.7em;
  font-style: bold;
  margin: auto;
  padding: 3%;
}

@media (max-width: 1000px) {
  #desktop {
    display: none;
  }
}
