nav {
  height: var(--nav-height);
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  background: var(--nav-background);
  position: sticky;
  top: 0;
  z-index: 1;
}

.hide {
  top: calc(var(--nav-height) * -1);
  display: none;
}

#desktop {
  justify-content: space-between;
  display: flex;
}

#desktop #Logo {
  margin: 0;
  margin-left: 5px;
  height: 100%;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#desktop #Logo img {
  height: 100%;
}

#desktop ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  text-align: right;
  height: 100%;
  margin: 0;
  place-content: flex-end;
}

#desktop ul li {
  margin: auto 2% auto 15%;
  font-size: 1.3em;
  cursor: pointer;
}

#desktop ul li a,
#desktop ul li p {
  text-decoration: none;
  color: var(--nav-link-color);
  margin: auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#desktop ul div {
  height: 75%;
  margin: auto;
}

#desktop ul li i {
  font-size: 1.7em;
  place-self: center;
  color: var(--nav-background);
  background: var(--nav-logo-background);
  padding: 4px;
  border-radius: 5px;
}

#desktop ul li i:hover {
  color: var(--nav-logo-background);
  background: var(--nav-background);
  transition: 0.3s;
}

.st0 {
  /* fill: #22222f; */
  fill: var(--theme);
}
.st1 {
  /* fill: #f2f2f2; */
  fill: var(--contrast);
}

@media (max-width: 800px) {
  #desktop {
    display: none;
  }
  #desktop ul li i {
    font-size: 2.5rem;
  }
}
